.app__app {  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .app-body {
    width: 700px;
  }
  
  .preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(128, 87, 0, 0.134);
    margin: 1rem;
    border-radius: 4px;
    padding: 1rem;
  
    img {
      width: 100%;
      height: 220px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;    
    }
  
    .preview-meta-0 {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      margin: .5rem;
  
      span {
        background-color: white;
        padding: 0 5px;    
        font-weight: 600;
        font-size: 90%;
        color: rgba(0, 0, 0, 0.775);
        border-radius: 5px;
      }
    }
  
    .preview-title {
      width: 100%;
      font-size: 2rem;
      font-weight: 600;
      margin: .5rem;
      cursor: pointer;
      text-align: center;
      
      a {
        text-decoration: none;
      }
    }
  
    .preview-lc {
      display: flex;
      align-items: center;
      
      img {
        height: 30px;
        width: 30px;
        margin-right: 8px;
      }
    }
  }